<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TrackOrJargh</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">
<link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet">
<link href="/css/StyleRecover.css" rel="stylesheet">
<html>
<body>
	{{>header}}
	
	<section id="recoverPass">
		<div class="container">
			<div class="form-control text-center" id="recoverHeader">
				<span><a href="">Recuperar contraseña</a> </span>
			</div>
		</div>
		
		<div id="recover">
			<div class="container">
				<div class="form-control text-center">
					<!-- Log-In segment -->
					<span>Nueva contraseña</span>

					<form method="post" role="form" action="/cambiarcontra/{{alphanumericCode}}"
						style="display: block;">
						
						<input type="text" tabindex="2"
							class="form-group form-control" placeholder="Usuario" value="{{user.name}}" disabled/>

						<input type="password" name="pass" id="passwordL" tabindex="2"
							class="form-group form-control" placeholder="Nueva contraseña">
							
						<input type="password" id="passwordL" tabindex="2"
							class="form-group form-control" placeholder="Repita la nueva contraseña">

						<div class="row form-group">
							<input type="submit" name="login-submit" id="buttonRecv"
								tabindex="4" class="btn btn-login mx-auto form-group"
								value="Cambiar contraseña">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	{{>footer}}
</body>
</html>