
<!--==========================
          Footer
============================-->
<head>
<meta charset=utf-8"/>
</head>
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6 footer-info">
					<h3>TrackOrJargh</h3>
					<p>Una página que te ayudara a decidir tanto si deberías ir a ver esa película que parece que está bien al cine, ya que siempre tenemos las últimas novedades, como
					si deberías empezar a ver una serie que te recomendó tu amigo, o si tendrías que comprarte el libro del que todo el mundo habla. Gracias a nuestro sistema de votación y de cometarios podrás saber de primera mano que esa película, serie o libro está tan bien como tu amigo la pinta. </p>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Nos puedes encontrar en</h4>
					<div class="social-links">
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a> <a
							href="#" class="instagram"><i class="fa fa-instagram"></i></a> <a
							href="https://plus.google.com/u/0/collection/EEX-LF?hl=es&pageId=none" class="google-plus"><i class="fa fa-google-plus"></i></a>
						<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> <a
							href="https://github.com/krate95/TrackOrJargh" class="github"><i
							class="fa fa-github"></i></a>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 footer-contact">
					<h4>Contacto</h4>
					<p>
						<strong>Email:</strong><br> j.elvira@alumnos.urjc.es<br>
						o.sotos@alumnos.urjc.es<br> hs.dhanoya@alumnos.urjc.es<br>
						a.casanovam@alumnos.urjc.es<br> pm.garrido@alumnos.urjc.es<br>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong>GRUPO 13</strong>. All
			Rights Reserved
		</div>
	</div>
</footer>
<!-- #footer -->